html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
#esEmail_0 {
    background: #ff0000;
}
*/

#eshotSignUpForm {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}
.es-signUpForm {
    padding:20px;
    border:1px dotted #CCC;
}
#eshotSignUpForm table td {
    padding-bottom: 6px;
    vertical-align:middle;
}
    #eshotSignUpForm table tr td:first-child {
        min-width: 150px;
    }
#eshotSignUpForm table tr td:first-child {
    padding-right:15px;    
}

input[type="text"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 16px;
    height: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#single {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 16px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#multi {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 16px;
    height: 100px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

label input[type="checkbox"] {
    position:relative;
    top:3px;
}
input[type="button"] {
    height:34px;
    padding:4px 8px;
    background-color:#333;
    color:white;
    border:none;
    box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1);
    cursor:pointer;
}

input[type="submit"] {
    display: flex;
    align-items: center;
    text-align: center;
    height:34px;
    padding:4px 8px;
    font-size: 18px;
    background-color:#00AF41;
    margin: auto;
    color:white;
    border:none;
    box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1);
    cursor:pointer;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
}

/* CSS Required for the Sign up form to work in a pop-up modal */
.es-modal-shown {
    background-color: rgba(52, 54, 66, 0.9);
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
    /* max-width: 450px; */
}

.es-modal {
    background-color: white;
    width: 100%;
    margin: 5em auto;
    max-width: 500px;
    border-radius: 0.25em;
    padding: 1em;
}

.es-modalBtn-hide {
    color: darkred;
    cursor: pointer;
}
